@use './Sass/style.scss' as mixin;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
// font-family: "Playwrite CU", cursive;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: mixin.$primaryColor;
  font-family: "Josefin Sans", sans-serif;
  color: mixin.$primaryTextColor;
}